@font-face {
    font-family: 'Alkatra';
    src: url("./fonts/Alkatra/Alkatra-VariableFont_wght.ttf");
}

body{
    font-family: 'Alkatra';
    background-color: #F7EFE7;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
.navbar{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10%;
}
.menu{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 18pt;
    margin-right: 5%;
}
.intro{
    margin-top: 25px;
    height: 600px;
    width: 100%;
    background-image: url("./image/fond.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}
.btn{
    height: 50px;
    border-radius: 50px;
    background-color: #E3AB4F;
    border: none;
}
.btncont{
    display: flex;
    padding-inline: 30px;
}
.fleche{
    width: 30px;
}
.qui{
    margin-top: 250px;
    background-color: #F1D0A9;
}
.titre1, .titre2, .titre3{
    font-size: 25pt;
    text-align: center;
}
.textimg{
    height: 550px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.text{
    height: 400px;
    width: 20%;
}
.img{
    height: 400px;
    width: 20%;
    border-radius: 50px;
    
}
.april, .cocoon, .cove{
    background-color: #BCCFF2;
    display: flex;
}
.footer{
    background-color: #F1D0A9;
}
.footbar{
    display: flex;
}
.num, .email{
    background-color: white;
    border-radius: 50px;
    font-size: 10pt;
}
.projet{
    display: flex;
}